<h1>Products</h1>
<%= link_to "Add a New Product", new_product_path %>
<hr>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<hr>
<h4>Latest Products</h4>
<ol>
  <% @products.three_most_recent.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ol>

<hr>

<h3>Products with the most reviews </h3>

<ol>
  <% @products.most_reviews.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ol>

<h3>Product made in the USA </h3>

<ol>
  <% @products.madeinusa.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ol>
