<!DOCTYPE html>
<html>
  <head>
    <title>Power Up Foods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <nav class="navbar navbar-light">
      <div class="navbar-header">
        <h1>Mario's Specialty Foods</h1>
      </div>
      <span class="navbar-text">
        <h2 class="homelinktext"><%= link_to "Home", products_path %></h2>
      </span>
      <span class="navbar-text">
        <h2><%= link_to "Add New Product", new_product_path %></h2>
      </span>
     </nav>

  <div class="container">
      <%= yield %>
  </div>

  </body>
</html>
